<div class="col-md-3 col-sm-4 col-xs-12 sideBar">
  <div class="panel panel-default">
    <div class="panel-heading">商品カテゴリー</div>
    <div class="panel-body">
      <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
        <ul class="nav navbar-nav side-nav">
          <% taxonomies.each do |taxonomy| %>
            <li>
              <a href="javascript:;" data-toggle="collapse" data-target="#taxonomy_<%= taxonomy.id %>"><%= taxonomy.name %><i class="fa fa-plus"></i></a>
              <ul id="taxonomy_<%= taxonomy.id %>" class="collapse collapseItem">
                <% taxonomy.root.leaves.each do |taxon| %>
                  <li>
                    <%= link_to potepan_category_path(taxon.id) do %>
                      <i class="fa fa-caret-right" aria-hidden="true"></i>
                      <%= taxon.name %>
                      <span>(<%= taxon.products.all.count %>)</span>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <% option_types.each do |option_type| %>
    <div class="panel panel-default filterNormal">
      <div class="panel-heading">FILTER BY <%= option_type.presentation %></div>
      <div class="panel-body">
        <ul class="list-unstyled">
          <% option_type.option_values.each do |option_value| %>
            <li><%= link_to(option_value.name, potepan_category_path(option_value: option_value.id)) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
