<div id="carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% product.master.images.each_with_index do | image, index | %>
    <div class="item<%= "active" if index.zero?  %>" data-thumb="<%= index %>">
      <%= image_tag(image.attachment(:large)) %>
    </div>
    <% end %>
    <% if product.variants.any? %>
      <% variant.images.each_with_index do | image, index | %>
      <div class="item" data-thumb="<%= index %>"></div>
        <%= image_tag(image.attachment(:large)) %>
      <% end %>
    <% end %>
  </div>
</div>
